{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <div class="card shadow-lg border-0">
            <div class="card-header bg-primary text-white text-center rounded-top-2">
                <h3 class="my-2">Login Aplikasi Kasir</h3>
            </div>
            <div class="card-body p-4">
                <form method="POST">
                    <div class="mb-3">
                        <label for="username" class="form-label text-muted">Username</label>
                        <input type="text" class="form-control rounded-pill p-2" id="username" name="username" required autofocus>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label text-muted">Password</label>
                        <input type="password" class="form-control rounded-pill p-2" id="password" name="password" required>
                    </div>
                    <button type="submit" class="btn btn-primary w-100 mt-3 rounded-pill p-2">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}